// Variables
// ---------
// Use the same color all over the place? Need to do
// some math with height and width and text size?
// Sass supports variables as well as basic math
// operations and many useful functions.
//
// For complete documentation:
// http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html#variables_
//
// Available variables:
// SASS:				http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html#variables_
// Bourbon:				http://bourbon.io/docs/


// Colour variables
$white: #F8F2EF
$grey: #3E3E3F
$lightGrey: lighten($grey, 20%)
$darkGrey: #3F3F40

$darkGreen: #1A4029

$yellow: #FCD008

// Margin/padding variables
$margin: $gutter
$padding: $gutter

$siteTitleHeight: 5rem
$primaryNavHeight: 4rem

